<%= simple_form_for @song, :html => { :class => 'form-horizontal table-condensed' } do |f| %>
  <%= f.input :title, :placeholder => t("songs.fill_in_title")  %>
  <%= f.association :language, :include_blank => t('.select_language') %>
  <%= f.input :subtitle %>
  <%= f.input :author %>
  <%= f.input :composer %>
  <%= f.input :translator %>
  <%= f.input :copyright %>
  <%= f.input :note %>
  <div id="verses">
  <%= f.simple_fields_for :verses do |builder| %>
    <div class="verse sortable duplicatable_nested_form table table-hover table-bordered">
      <%= builder.association :verse_type, :include_blank => t('.select_verse_type') %>
      <%= builder.input :content, as: :text , :input_html => { :cols => 80, :rows => 8, :class => 'span4' }  %>
      <%= builder.hidden_field :position, :class => 'position' %>
      <%= builder.hidden_field :_destroy, :class => '_destroy'  %>
      <i class="icon-move"> move</i>
      <%= link_to "remove", '', :class => 'remove-verse btn btn-mini btn-danger ' %>
    </div>
  <% end %>
  </div>
  <%#= link_to_add_verses "Add Verses", f, :verses %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                songs_path, :class => 'btn' %>
  </div>
<% end %>
