<%- model_class = Song -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:subtitle) %></th>
      <th><%= model_class.human_attribute_name(:author) %></th>
      <th><%= model_class.human_attribute_name(:composer) %></th>
      <th><%= model_class.human_attribute_name(:translator) %></th>
      <th><%= model_class.human_attribute_name(:language) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to song.id, song_path(song) %></td>
        <td><%= song.title %></td>
        <td><%= song.subtitle %></td>
        <td><%= song.author %></td>
        <td><%= song.composer %></td>
        <td><%= song.translator %></td>
        <td><%= song.language.name %></td>
        <td><%=l song.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_song_path(song), :class => 'btn btn-mini' %>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      song_path(song),
                      :class => 'btn btn-mini btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_song_path,
            :class => 'btn btn-primary' %>
