<%- model_class = Song -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @song.title %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:language) %>:</strong></dt>
  <dd><%= @song.language.name %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:subtitle) %>:</strong></dt>
  <dd><%= @song.subtitle %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:author) %>:</strong></dt>
  <dd><%= @song.author %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:composer) %>:</strong></dt>
  <dd><%= @song.composer %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:translator) %>:</strong></dt>
  <dd><%= @song.translator %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:copyright) %>:</strong></dt>
  <dd><%= @song.copyright %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:songbook) %>:</strong></dt>
  <dd><% if ! @song.songbook.nil? %><%= @song.songbook.name %><% end %> &nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:songbook_ref) %>:</strong></dt>
  <dd><%= @song.songbook_ref %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:key_signature) %>:</strong></dt>
  <dd><%= @song.key_signature %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:time_signature) %>:</strong></dt>
  <dd><%= @song.time_signature %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:tempo) %>:</strong></dt>
  <dd><%= @song.tempo %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:note) %>:</strong></dt>
  <dd><%= @song.note %>&nbsp;</dd>
  <% @song.verses.each do |verse| %>
  <dt><strong><%= verse.verse_type.name %>:</strong></dt>
  <dd><%= simple_format(verse.content) %></dd>
  <% end %>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              songs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_song_path(@song), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              song_path(@song),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
